<html ng-app="honigShopModul">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="honigShopController">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<p>Willkommen im Honigshop</p>


<table style="border: 0px">
  <tr>
    <td>Email:</td>
    <td><input type="email" ng-model="order.email"></td>
  </tr>
</table>
<br/>

<div>{{order.email}}</div>
<div>{{bestand.Sommerhonig_500}}</div>
<div>{{bestand.Sommerhonig_250}}</div>
<div>{{bestand.Fruehjahrshonig_500}}</div>
<div>{{bestand.Fruehjahrshonig_250}}</div>

<br/>

<div>Meldungen</div>
<div ng-repeat="message in messages">{{message}}</div>
</body>

<script src="js/vendor/jquery-2.1.1.js"></script>
<script src="js/vendor/angular-1.2.21.min.js"></script>
<script type="application/javascript">
  var angularModule = angular.module('honigShopModul', []);
  honigShopController = function ($scope, $http) {
    $scope.order = {}
    $scope.messages = [];

    $scope.order = {"_id": "Bestand", "_rev": "3-2d2fa6c2f64f424c9b2811df5e9c9d50", "Sommerhonig_500": 200, "Sommerhonig_250": 600, "Fruehjahrshonig_500": 100, "Fruehjahrshonig_250": 400};
//    $http.jsonp(
//            "http://localhost:5984/honigshop/Bestand?callback=JSON_CALLBACK")
//            method: "JSONP",
//            cache: false,
//            timeout: 10000
//          })
    $.ajax({     url: "http://localhost:5984/honigshop/Bestand",
             dataType: "json",
             processData: false,
             crossDomain: true
             type: "GET",
             jsonpCallback: 'getBestandCallback',
             success: function (bestand) {
//               $scope.bestand = bestand;
               $scope.messages.push("Bestandsdaten geladen")
             },
             error: function (response) {
//               console.log(JSON.stringify(data));
//               console.log(JSON.stringify(status));
               $scope.messages.push("Fehler beim Daten abholen")
             }
           });

  }
</script>

</html>
