<!DOCTYPE html>
<html ng-app="honigShopModul">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <script type="application/javascript" src="js/jquery-2.1.1.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="application/javascript" src="js/angular-1.2.21.min.js"></script>
  <script type="application/javascript" src="js/controller.js"></script>

</head>
<body ng-controller="honigShopController">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="jumbotron">
  <h1>Willkommen im Honigshop</h1>

  <p>Hier kannst Du den Honig bestellen.</p>
</div>

<div class="container">
  <form role="form">
    <div class="panel panel-default" ng-repeat="artikel in bestand">
      <div class="panel-heading">
        <h3 class="panel-title">{{artikel.name}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <img src="{{artikel.image}}" class="img-thumbnail img-responsive">
          </div>
          <div class="col-md-10">{{artikel.beschreibung}}</div>
          <div class="col-md-10">Bestand: {{artikel.menge}}</div>

          <div class="col-md-10">
            <div class="form-group">
              <label class="col-sm-2 control-label">Preis</label>

              <div class="col-sm-10">
                <p class="form-control-static">{{artikel.preis | preisEuro}}</p>
              </div>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-group">
              <label for="inputNumber" class="col-sm-2 control-label">Anzahl</label>

              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputNumber" ng-model="bestellung.einzelPosten[$index].anzahl">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="orderEmail" class="col-sm-2 control-label">Email:</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" id="orderEmail" placeholder="Email" ng-model="bestellung.email">
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-11"></div>
      <div>
        <button type="button" class="btn btn-primary" ng-click="bestellen()">Bestellen</button>
      </div>
    </div>
  </form>
</div>

<br/>

<div>Meldungen</div>
<div ng-repeat="message in messages">{{message}}</div>
</body>


</html>
